/*-------------GENERAL------------*/
@font-face{
	font-family: 'Roboto';
	src: url('fonts/Roboto-regular.ttf') format('truetype');
}

body{
	font-family: 'Roboto', serif;
	margin: 0;
    padding: 5px;
}

h1 {
	font-family: 'Pattaya', sans-serif;
	color: lightblue;
	font-weight: 600;
}

h2 {
	color: lightblue;
	font-weight: 400;
}

#subtitle {
	color: white;
	padding-bottom: 10px;
}

h5 {
	font-family: 'Roboto', serif;
}

/*-------------BLOC TEXTE------------*/

#titre {
    text-align: center;
	position: relative;
	z-index: 1;
	color: white;
	background-color: rgba(109, 7, 70, .3) ;
}

#titre p {
	margin-top: 10px;
}

p {
	padding-left: 50px;
	padding-right: 50px;
	color: darkblue;
}

#buttoninfo{
	padding: 10px;
	background-color: lightblue;
	color: #ffffff;
	border-style: none;
	border-radius: 3px;
	font-weight: bold;
	box-shadow: 0 3px 0 rosybrown;
}

.container {
   text-align: center;
}

.bloc {
	display: block;
    width: 33%;
    float: left;
    height: 250px;
    border: 1px solid;
}

#image_bloc {
	width: 100%;
	padding-top: 0;
}

/*-------------NAVBAR------------*/

#nav {
	background-color: lightblue;
	box-shadow: 0 3px 0 darkblue;
	list-style: none;
    top: -80px;
    position: relative;
	padding: 0px;
}

#nav li {
	text-align:center ;
    display: table-cell;
	width: 1%;
}

#nav li a{
    display: block;
    color: white;
    text-decoration: none;
	padding-top: 15px;
    padding-bottom: 15px;
}

#nav li a:hover {
    color: darkblue;
    text-align:center;
}

/*------------- Carrousel -------------*/

#carrousel{
    position:relative;
    height:350px;
    width:100%;
    margin:auto;
	top: -200px;
    z-index: 0;
}

#carrousel ul {
    list-style: none;
	padding: 0px;
}

#carrousel ul li{
    position:absolute;
    margin:0 auto;
}

#carrousel ul li img  {
    margin:0 auto;
    width:100%;
	height: 500px;
}

.text_carrousel {
	margin-top: -90px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 30px;
}

.controls {
  	color: #fff;
    display: block;
    position: relative;
}
.next {
	float: right;
}

/*------------- ARTICLES ------------*/

.img_article {
width: 50%;
}

/*------------- FORMULAIRE ------------*/

#post_comment {
	color: rosybrown;
}

#author {
	color: rosybrown;
}

#author {
	margin-top: 10px;
	border-color: lightblue;
	padding: 10px;
	width: 200px;
}

#text_comment {
	color: rosybrown;
}

#comment {
	margin-top: 10px;
	border-radius: 3px;
	border-color: lightblue;
	width: 220px;
}

.comments {
	background-color: azure;
	width: 50%;
	margin:0 auto;
	padding:10px;
	
}

.btn-success {
	border-color: rosybrown;
	border-radius: 3px;
	padding: 10px;
	color: white;
	background-color: lightblue;
	font-size: 15px;
}

/*-------------SLIDER PRESENTATION------------*/

#slide-accueil {width:1020%px;margin-bottom: 30px;}

/*
.cbp-fwslider {
	position: relative;
	margin: 0 0 10px;
	overflow: hidden;
}

.cbp-fwslider ul {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	list-style-type: none;
}

.cbp-fwslider ul li {
	transform: translateZ(0);
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}

.cbp-fwslider ul li > a,
.cbp-fwslider ul li > div {
	display: block;
	text-align: center;
	outline: none;
}

.cbp-fwslider ul li > a img {
	border: none;
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.cbp-fwslider nav span {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 100px;
	background:purple;
	color: white;
	font-size: 50px;
	text-align: center;
	margin-top: -50px;
	line-height: 100px;
	cursor: pointer;
	font-weight: normal;
}

.cbp-fwslider nav span:hover {
	background:#38b39d;
	color: #fff;
}

.cbp-fwslider nav span.cbp-fwnext {
	right: 0px;
}

.cbp-fwslider nav span.cbp-fwprev {
	left: 0px;
}

.cbp-fwdots {
	position: absolute;
	bottom: 0px;
	white-space: nowrap;
	text-align: center;
	width: 100%;
}

.cbp-fwdots span {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: #ddd;
	margin: 4px;
	border-radius: 50%;
	cursor: pointer;
}

.cbp-fwdots span:hover {
	background: #fff;
}

.cbp-fwdots span.cbp-fwcurrent {
	background: purple;
	transition: box-shadow 0.2s ease-in-out;
} */