/*-- header --*/
header {
	position: relative !important;
}


#bloc-principal
{
    margin-top: 60px;
}

.lien-header
{
    padding-left: 15px;
}

#groupe-connexion
{
    line-height: 50px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#cadre-form
{
    padding: 40px;
    border: solid lightslategray 2px;
    border-radius: 2px;
    background-color: #DCDCDC;
}

img
{
    width: 100%;
}

.row
{
    margin-bottom: 10px;
    margin-top: 10px;
}

#titre-contact
{
    margin-top: 20px;
    margin-bottom: 20px;
}

html
{
    position: relative;
    min-height: 100%;
}

footer
{
    position: absolute;
    width: 100%;
    bottom: 0;
}

#navbot
{
    height: 20px;
}

@media screen and (max-width: 655px) {
    #bloc-principal
    {
        margin-top: 70px;
    }
  }